antlr4-python3-runtime==4.7.1
cachetools==2.1.0
celery==4.1.0
commonmark==0.5.4
flask==0.12.3
flask-autodoc==0.1.2
flask-cors==3.0.3
flower==0.9.2
inflect==0.3.1
jobtastic==2.0.0
kazoo==2.4.0
luigi==2.7.1
nltk==3.2.5
numpy==1.13.3
pandas==0.21.1
psycopg2==2.7.3.2
pymongo==3.6.0
pytest==3.3.2
recommonmark==0.4.0
redis==3.0.1
requests>=2.20.0
requests-file==1.4.2
requests-oauthlib==0.8.0
simplejson==3.13.2
spacy==2.0.9
sphinx==1.7.4
sphinx-autobuild==0.7.1
textacy[all]
typing==3.6.2
imbalanced-learn==0.4.3
imblearn==0.0
scikit-learn==0.20.1
joblib==0.13.0
