dump.rdb
node_modules/
.cache/
.env
.env.bak
prod.env
.bak
.idea/codeStyles/Project.xml
.idea/vcs.xml
.idea/
_build/
_templates/
__pycache__/
!__init__.py
synthetic_query_gen/notebooks/.ipynb_checkpoints
.DS_STORE
.ipynb_checkpoints
notebooks/.ipynb_checkpoints
notebooks/cooking/.ipynb_checkpoints
project.cfg
keys.py
is4/bin/
is4/obj/
env.mk
identity-and-access-proxy/package-lock.json
identity-provider/bin
identity-provider/obj
identity-provider/identityserver4_log.txt
certs/claritynlp.*
certs/localhost*
certs/rootCA*
docker-compose.rancher*
