node_modules/
.cache/
.env
prod.env
.bak
.idea/codeStyles/Project.xml
.idea/vcs.xml
.idea/
_build/
_templates/
!__init__.py
nlp/notebooks/.ipynb_checkpoints
nlp/notebooks/cooking/.ipynb_checkpoints
nlp/notebooks/cooking/Cooking with ClarityNLP - 082818.ipynb
