[submodule "utilities/mapper-api"]
	path = utilities/mapper-api
	url = https://github.com/ClarityNLP/report-type-mapper-api.git
[submodule "utilities/mapper-client"]
	path = utilities/mapper-client
	url = https://github.com/ClarityNLP/report-type-mapper-client.git
[submodule "evaluation/validation"]
	path = evaluation/validation
	url = https://github.com/ClarityNLP/validation-framework.git
[submodule "nlp"]
	path = nlp
	url = https://github.com/ClarityNLP/clarity-nlp-api.git
