[submodule "utilities/mapper-api"]
	path = utilities/mapper-api
	url = https://github.com/ClarityNLP/report-type-mapper-api.git
[submodule "utilities/mapper-client"]
	path = utilities/mapper-client
	url = https://github.com/ClarityNLP/report-type-mapper-client.git
[submodule "evaluation/validation"]
	path = evaluation/validation
	url = https://github.com/ClarityNLP/validation-framework.git
[submodule "utilities/ingest-api"]
	path = utilities/ingest-api
	url = https://github.com/ClarityNLP/ingest-api.git
[submodule "utilities/ingest-client"]
	path = utilities/ingest-client
	url = https://github.com/ClarityNLP/ingest-client.git
