@using IdentityServer4.Extensions
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
@{
   string IS_VHOST = Configuration["IS_VHOST"];
}

@if (IS_VHOST == "true")
{
  <!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>ClarityNLP - IDP</title>
      <link rel="icon" type="image/x-icon" href="/favicon.ico" />
      <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
      <link rel="stylesheet" href="/css/custom-bulma.css" />
      <link rel="stylesheet" href="/css/site.css" />
      <link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">
  </head>
  <body>
      <div class="gradient-background">
          <div class="container">
              <div class="section">

              <div class="logo">
                  <div class="gtri-logo">
                      <img src="/gtri_logo.svg">
                  </div>
                  <div class="claritynlp-logo">ClarityNLP</div>
              </div>


              @if (!string.IsNullOrWhiteSpace(name))
              {
                  <!-- TODO decide if we want to keep this logout dropdown
                  <ul class="nav navbar-nav">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                          </ul>
                      </li>
                  </ul>
                  -->
              }

              <div class="body-content">
                  @RenderBody()
              </div>

              </div>

          </div>
      </div>

      <script src="/lib/jquery/jquery.js"></script>
      <script src="/lib/bootstrap/js/bootstrap.js"></script>
      <script src="/js/main.js"></script>
      @RenderSection("scripts", required: false)
  </body>
  </html>
}
@if (IS_VHOST == "false")
{
  <!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>ClarityNLP - IDP</title>
      <link rel="icon" type="image/x-icon" href="/idp/favicon.ico" />
      <link rel="shortcut icon" type="image/x-icon" href="/idp/favicon.ico" />
      <link rel="stylesheet" href="/idp/css/custom-bulma.css" />
      <link rel="stylesheet" href="/idp/css/site.css" />
      <link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">
  </head>
  <body>
      <div class="gradient-background">
          <div class="container">
              <div class="section">

              <div class="logo">
                  <div class="gtri-logo">
                      <img src="/idp/gtri_logo.svg">
                  </div>
                  <div class="claritynlp-logo">ClarityNLP</div>
              </div>


              @if (!string.IsNullOrWhiteSpace(name))
              {
                  <!-- TODO decide if we want to keep this logout dropdown
                  <ul class="nav navbar-nav">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                          </ul>
                      </li>
                  </ul>
                  -->
              }

              <div class="body-content">
                  @RenderBody()
              </div>

              </div>

          </div>
      </div>

      <script src="/idp/lib/jquery/jquery.js"></script>
      <script src="/idp/lib/bootstrap/js/bootstrap.js"></script>
      <script src="/idp/js/main.js"></script>
      @RenderSection("scripts", required: false)
  </body>
  </html>
}
