.dashboard_container {
    background-color: whitesmoke;
    margin-left: 100px;
    height: $full_height;
    margin-top: 52px;

    .dashboard_columns {
        margin: 0;
        height: 100%;
    }

    .dashboard_column {
        height: 100%;
    }
}

@import "./Card/card";
@import "./Navbar/navbar";
@import "./Documents/documents";
@import "./Library/library";
@import "./Results/results";
