.App {
 /* text-align: center; */
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 30px;
  margin-top: 22px
}

.App-header {
  background-color: #2980B9;
  height: 100%;
  padding-left: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-name {
  font-size: 110%;
  font-weight: bold;
  display: inline-block;
    vertical-align: top;
    padding: 25px 20px 20px;
}

.JobList {
    padding: 20px;
}

.JobListIcons {
    margin-right: 5px;
}


.PatientCount {
    font-size: 50%;
    color: gray;
}

.JobRow, .SubjectRow {
    cursor: pointer;
    font-size: 11pt;
    font-weight: normal;
}


.JobRow td:nth-child(2){
    width: 420px;
}

.JobRow td:nth-child(5){
    width: 180px;
}

.JobRow:hover {
    text-decoration: underline;
}

.DetailCountHeader {
    font-size: medium;
    padding-top: 10px;
    padding-left: 12px;
}



.PhenotypeName {
    font-weight: bold;
}

.JobStatusRow {
    font-size: 11pt;
    font-weight: normal;
}

.ArrowButtons {
    margin-right: 10px;
}

.SampleLink {
    font-size: 10pt;
}

.ToggleButtons {
    margin: 5px;
}

.PhenotypeTitle {
    vertical-align: middle;
    font-size: 70%;
}

.SubjectNavRow {
    background-color: #f8f9fa;
    padding: 10px;
    margin-top: 20px;
}

table {
    font-size: 12pt;
}

.public_fixedDataTableCell_cellContent {
    font-size: 11pt;
}

.RawResultsTable, .SubjectTable {
    margin-top: 20px;
}

.SubjectDetailNavigation {
    min-width: 70%;

}

.SubjectDetailHeader {
    min-width: 30%;
    text-align: right;
}

.SubjectNavigationPosition {
    font-size: 12pt;
    margin: 1px;
}

.SubjectDetailBody {
    margin-top: 15px;
}

.PhenotypeDetailButtons {
    width: 100%;
    font-size: 9.5pt;
    text-align: left;
}

.PhenotypeSubDetailButtons {
}

.EntitySpacer {
    height: 15px;
}

.EntityFrame {
    background-color: #f8f9fa;
    margin: 10px;
    padding: 10px;
}

.EntityFrame:hover{
    box-shadow: 2px 2px 3px 2px grey;
    cursor: pointer;
}

.EntitySentence {
    margin-top: 10px;
    font-size: 11.5pt;
    font-weight: normal;
}

.ReportModal {
    max-width: 900px;
}

.PhenotypeDetailMain {
    padding: 8px;
    border: #6c757d 1px solid;
    margin-bottom: 20px;
}




pre, .ReportTextPreview {
    font-size: 12pt;
    line-height: 1.618em;
    word-break: keep-all;
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
    font-family: 'droid_sans_monoregular','Anonymous Pro', monospace;
    text-indent: 0px;
    color: #565656;
    background-color: #f8f9fa;
}

.full-highlighting {
    background-color: #FFFF99;
    font-weight: bold;
    border-radius: 8px;
    padding: 2px 4px;
}
.min-highlighting {
    background-color: #FFFF99;
    font-weight: bold;
    border-radius: 8px;
}

.highlighting {
    font-weight:bold;
    text-decoration:underline;
}

.NavLink {
    cursor: pointer;
}

.SubHeader {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.NLPQLArea {
    font-size: 14px;
    line-height: 1.618em;
    word-break: keep-all;
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
    font-family: 'droid_sans_monoregular','Anonymous Pro', monospace;
    text-indent: 0px;
    color: #565656;
}

.NLPQLAreaHeader {
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.exportButton {
  margin-top: 5%;
  text-align: center;
}

.emptyResults {
  margin-top: 20%;
  text-align: center;
}
