<html>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<!-- JQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"> </script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


<head>
  <title>
    Clarity NLP
  </title>
</head>

<nav>
  <div class="nav-wrapper teal darken-2">
    <a href="#" class="brand-logo">Clarity NLP</a>
  </div>
</nav>

<body>
  <div class="container">
    <div class="row">
      <center>
        <p "col s6 offset-s3"> {{result}} </p>
      </center>
      <br><br>
      <form action="/upload" method="POST" enctype = "multipart/form-data" class = "col s6 offset-s3">
        <div class="file-field input-field">
          <div class="btn teal darken-2">
            <span>File</span>
            <input type="file" name="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more files">
          </div>
        </div>
        <center>
        <button class="waves-effect waves-light btn teal darken-2" type="submit" name="action">Upload
  			</button>
      </center>
    </form>
  </div>
  <div class = "row">
      <br>
      <pre>
        <center></b>Uploaded CSV/JSON file must have the following fields:</b></center>
        <code class = "col s6 offset-s3">
          {
            "subject": 123456,
            "description_attr": "Report",
            "source": "Report Source",
            "report_type": "Report Type",
            "report_text": "Report Content",
            "cg_id": "CD ID",
            "report_id": "Report ID",
            "is_error_attr": "",
            "id": 1234,
            "store_time_attr": "",
            "chart_time_attr": "",
            "admission_id": 12345,
            "report_date": "2161-06-13T04:00:00Z"
          }
        </code>
    </pre>
    </div>
  </div>
</body>

</html>
